:root{
    --coul-main:#f6f6ee;
    --coul-typo:  #566573 ;
    --coul-btn: #9c7b2c;
}

body {
  color: var(--coul-typo);
}

a{
  text-decoration: none;
  color: var(--coul-typo);
}

button{
    background-color: var(--coul-btn);
    border: 1px solid var(--coul-btn);
    color: #fff;
    cursor: pointer;
    padding: 8px;
    border-radius: 2.5px;
    height: 42px;
    width: 120px;
}

.fa-heart {
    font-size: 32px;
    color: var(--coul-btn);
  }

  main{
    padding-top: 6em;
  }

  .wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    h2{
      text-align: center;
      font-size: 3em;
      color: var(--coul-typo);
    }
  }


            // --------------- Media queries ----------------
@media (max-width: 900px) {
  .wrapper{
    width: 90%;
    h2{
      font-size: 1.5em;
    }
  }
}