:root{
    --coul-main:#ecd8be;
}

button{
    background-color: #E50914;
    border-radius: 5px;
    border: 1px solid #E50914;
    color: #fff;
    cursor: pointer;
}

.fa-heart {
    font-size: 32px;
    color: red;
  }

  main{
    padding-top: 6em;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
    // padding-top: 3em;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // background-color: antiquewhite;
    }
