:root{
    --coul-main:#f6f6ee;
    --coul-typo: #000;
    --coul-btn: #9c7b2c;
}

a{
  text-decoration: none;
  color: var(--coul-typo);
}

button{
    background-color: var(--coul-btn);
    border: 1px solid var(--coul-btn);
    color: #fff;
    cursor: pointer;
    padding: 8px;
    border-radius: 2.5px;
    height: 42px;
    width: 120px;
}

.fa-heart {
    font-size: 32px;
    color: var(--coul-btn);
  }

  main{
    padding-top: 6em;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
    }
