.lvr-presentation{
    width: 100%;
    margin: 0 auto;
}
.lvr-head{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    .lvr-img{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 500px;
        }
    }
    .lvr-intro{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}