.lvr-presentation{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    top: 75px;
    z-index: 2;
}
.lvr-head{
    display: grid;
    grid-template-columns: 45% 45%;
    width: 70%;
    margin: 0 auto;
    gap: 100px;
    .lvr-img{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 500px;
            border: 1px solid var(--coul-btn);
            box-shadow: 5px 5px 10px rgba(0,0,0,.2705882353);
        }
    }
    .lvr-intro{
        position: relative;
    }
}

.info-lvr{
    display: flex;
    column-gap: 100px;
    .resumer{
        width: 50%;
    }
    .edition{
        width: 50%;
    }
}

.fond-coul{
    background-color: var(--coul-main);
    border: 1px solid var(--coul-main);
    border-radius: 50px 50px 0 0;
    padding: 350px 50px 100px;
    position: relative;
    z-index: 1;
    top: -150px;
}

.leave-comment{
    width: 100%;
    display: flex;
    gap: 100px;
}

.form-blc-1, .form-blc-2{
    width: 50%;
}

.form-blc-2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.area-comm, .input-name, .input-mail {
    width:100%;
    padding: 10px;
    margin-top: 20px;
}

.input-name, .input-mail{
    height: 100%;
}

textarea:focus, input:focus{
    border: 1px solid var(--coul-btn);
    outline: none;
}


.btn-poster{
    margin: 10px 0 0 0;
}


// ------------------ SOOCIAL NETWORK -------------------

.social{
    display: grid;
    width: 60%;
    border: 1px solid var(--coul-btn);
    border-radius: 2.5px;
    position: absolute;
    bottom: 0px;
    grid-template-columns: 25% 25% 25% 25%;
    div{
        width: 100%;
        text-align: center;
        padding: 15px 0 15px 0;
        transition: 0.3s all ease-in-out;
        &:hover{
            background-color: var(--coul-btn);
            color:#fff ;
        }
        i{
            transition: 0.3s all ease-in-out;
            font-size: 2.2ch;
        }
        &:hover i{
            color: #fff;
        }
    }
}






    // --------------- Media queries ----------------
    @media (max-width: 1000px) {
        .lvr-head {
          grid-template-columns: 1fr;
          width: 100%;
        }
        .lvr-presentation {
            position: inherit;
            margin: 4em 0;
        }

        .info-lvr {
            border-radius: 25px 25px 0 0;
            display: block;
            .resumer{
                width: 100%;
            }
            .edition{
                width: 100%;
            }
        }

        .social {
            position: relative;
            width: 100%;
            top: 20px;
            div{
                padding: 15px 0 15px 0;
            }
        }
        .area-comm, .input-name, .input-mail{
            width: 100%;
        }
        .fond-coul{
            padding: 50px;
            position: inherit;
        }
        .leave-comment{
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        
        .form-blc-1, .form-blc-2{
            width: 100%;
        }
        .form-blc-2{
            gap: 20px;
        }
    }